
.dish{
  height: 350px;
  width: 400px;
  border: white 1px solid;
  background-color:black;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap : 10px;
  margin-bottom: 50px;
  }
  .dish:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  
  .dishImage{
      height: 300px;
      width: 100%;
      object-fit:cover;
  }
  .whitefontcolor{
    color:white;
    /* align-self: center; */
  }
 .hide{
   visibility: hidden;
 }