body{
    background-color: black;
}

.recipeGrid{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 5px;
    position: relative;
  }
.recipesGrid{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 5px;
  }
  
  .wallpaper{
    /* height: 230px; */
    width: 100%;
    background-repeat: no-repeat;
    object-fit:cover;
    opacity: 0.3;
    transition: height 0.5s linear;
}

.wallpaper:hover {
  opacity: 1.0;
}

#background{
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 100px);  
    transition: top 0.5s linear;
}
.whitefontcolor{
    color:white;
    font-size: large;
    font-weight: bolder;
}

.search-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

#submit{
    height: 30px;
    width: 30px;
   
}
#search{
    height: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
    padding: 0;
    color: white;
   }
   
   .pagination a {
    cursor: default;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6c7ac9;
    color: #6c7ac9;
    margin-left: 10px;
   }
   
   .pagination li:not(.disabled) a:hover {
    background-color: bisque;
    cursor: pointer;
   }
   
   .pagination li a {
    font-weight: bold;
   }
   
   .pagination li.active a {
    color: #fff;
    background: #6c7ac9;
   }
   
   .pagination li.disabled a {
    pointer-events: none;
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
   }
