
.Navbar {
  height: 75px;
  background-color: black;
  color: white;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}
#shareImage{
  height: 15px;
  width: 15px;
  object-fit: cover;
  background-color:black
}

.h1-logo {
  padding-top: 20px;
  position:absolute; 
  left: calc(50% - 50px)
}

.h1-logo a {
  text-decoration: none;
  color: white;
}

.h1-logo h1 {
  font-size: 20px;
}

div ul {
  padding: 20px;
}

div ul li {
  display: inline-block;
}

div ul li a {
  text-decoration: none;
  color: white;
}

.selected {
  border-bottom: 1px solid white;
}

.right-side-nav ul li:not(:last-child) {
  margin-right: 15px;
}

.right-side-nav{
  position:absolute; 
  right: 0px;

}
